* {
    background-color: #020202;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

section {
    margin: auto;
    font-size: small;
}

nav {
    font-size: small;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: medium;
}

p {
    font-size: small;
}

table {
    font-size: small;
}

th, td {
    border: 0.5px double white;
    text-align: left;
}

input {
    border-style: inset;
    border-color: #aaaaaa;
    background-color: #222222;
}

footer {
    font-size: x-small;
}

img {
    max-width: 30px;
    max-height: 30px;
}

#logo {
    max-width: 150px;
    max-height: 150px;
}